/* Style for the headline */
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #333;
}

body {
  padding: 0 1em 1em 1em;
}



/* Style for the upload input */
#pdfUpload {
  display: none;
}

.input-group-text {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.input-group-text:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Style for the feature cards */
.card {
  border: none;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Custom color for the cards */
.card:nth-child(1) {
  background-color: #ffc107;
}

.card:nth-child(2) {
  background-color: #28a745;
}

.card:nth-child(3) {
  background-color: #007bff;
}

/* Hover effect for the cards */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Style for the header section */
.header-section {
  background-color: #002e60;
  height: 400px;
  width: 100%;
  position: relative;
}

.header-text {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Custom styles for the complementary color band */
.complementary-color {
  background-color: #e5e5e5;
  height: 200px;
}

/* Custom styles for the curved line */
.curved-line {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background-color: #002e60;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
}

.checkmark-image {
  position: relative;
  background-image: url("../img/pdf_analyzing_illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 230px;
  margin-top: -300px;
  z-index: 2;
}  

/* Custom styles for the footer */
footer {
  background-color: #f2f2f2;
  color: #555;
  padding: 20px 0;
}

footer a {
  color: #007bff;
}

footer a:hover {
  color: #0069d9;
}


/* score related CSS */
.score-position-chart,
.percentage-position-chart {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #F0F0F0;
  border-radius: 5px;
  overflow: hidden;
}

.score-position-chart__bar,
.percentage-position-chart__bar {
  position: absolute;
  bottom: 0;
  height: 100%;
}

.score-position-chart__bar--green,
.percentage-position-chart__bar--green {
  background-color: #28A745;
}

.score-position-chart__bar--yellow,
.percentage-position-chart__bar--yellow {
  background-color: #d2cd1f;
}

.score-position-chart__bar--red,
.percentage-position-chart__bar--red {
  background-color: #DC3545;
}

.score-position-chart__arrow,
.percentage-position-chart__arrow {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  transform: translateY(-50%) rotate(180deg);
}

.score-position-chart__arrow--green,
.percentage-position-chart__arrow--green {
  border-color: transparent transparent #28A745 transparent;
}

.score-position-chart__arrow--red,
.percentage-position-chart__arrow--red {
  border-color: transparent transparent #DC3545 transparent;
}

.score-position-chart__label,
.percentage-position-chart__label {
  position: absolute;
  bottom: 100%;
  font-size: 12px;
  color: #888;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.score-position-chart__label--score,
.percentage-position-chart__label--score {
  font-weight: bold;
}

.score-position-chart__label--median,
.percentage-position-chart__label--median,
.score-position-chart__label--mean,
.percentage-position-chart__label--mean {
  position: absolute;
  font-size: 10px;
  color: #888;
  white-space: nowrap;
}

.score-position-chart__label--median::before,
.percentage-position-chart__label--median::before,
.score-position-chart__label--mean::before,
.percentage-position-chart__label--mean::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 1px;
  height: 10px;
  background-color: #888;
}

.score-position-chart__label--median::before,
.percentage-position-chart__label--median::before {
  left: 50%;
  transform: translateX(-50%);
}

.score-position-chart__label--mean::before,
.percentage-position-chart__label--mean::before {
  right: 50%;
  transform: translateX(50%);
}

.score-position-chart__bar:hover ~ .score-position-chart__label,
.percentage-position-chart__bar:hover ~ .percentage-position-chart__label {
  display: none;
}

.score-position-chart__bar:hover ~ .score-position-chart__arrow,
.percentage-position-chart__bar:hover ~ .percentage-position-chart__arrow {
  border-style: solid;
}

.score-text,
.percentage-text {
position: absolute;
top: 0;
left: 0;
right: 0;
font-size: 14px;
font-weight: bold;
text-align: center;
color: #333;
}


/* expand / hide */
a.fa-plus:before {
content: "\f067"; /* Unicode value for the minus sign icon */
}

a[aria-expanded="true"] .fa-plus:before {
content: "\f068"; /* Unicode value for the plus sign icon */
}

a.fa-plus:before,
a.fa-minus:before {
transition: all 0.2s ease-in-out; /* Add a transition to all properties */
}

a[aria-expanded="false"] .fa-plus:before,
a[aria-expanded="true"] .fa-minus:before {
opacity: 0.5; /* Reduce opacity to make the transition smoother */
transform: rotate(0deg); /* Start with no rotation for plus sign and 180deg rotation for minus sign */
}

a[aria-expanded="true"] .fa-plus:before,
a[aria-expanded="false"] .fa-minus:before {
opacity: 1; /* Increase opacity to make the transition smoother */
transform: rotate(180deg); /* End with 180deg rotation for plus sign and no rotation for minus sign */
}

/* Time to answer styles */
.circle-container {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1rem;
}
.circle {
width: 60px;
height: 60px;
position: relative;
margin-right: 0.5rem;
}
.circle:last-child {
margin-right: 0;
}
.circle svg {
width: 100%;
height: 100%;
}
.circle-label {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 14px;
font-weight: bold;
}

/* special CSS for suggestions */
.pdf-suggestions-section {
  margin-top: 4rem;
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.pdf-section-heading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.pdf-suggestions-section ul {
  list-style: disc;
  margin-left: 2rem;
}

.pdf-suggestions-section li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #555;
}


.pdf-section-heading {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.pdf-suggestions-section ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.pdf-suggestions-section li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}


.bar {
  height: 30px;
  display: flex;
  border-style: solid!important;
  border: 1px;
}
.bar-segment {
  height: 100%;
}
.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
}
.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


/* Highlight text to change */
.highlight {
  background-color: rgba(255, 243, 128, 0.7);
  padding: 2px 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.highlight:hover {
  background-color: rgba(255, 243, 128, 1);
}
